{:deps
 {org.clojure/core.async                 {:mvn/version "0.4.490"}
  com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.2"}
  #_#_spyscope                               {:mvn/version "0.1.6"}
  com.taoensso/timbre                    {:mvn/version "4.10.0"}
  lambdaisland.regal                     {:git/url "https://github.com/lambdaisland/regal.git"
                                          :sha     "8d300f8e15f43480801766b7762530b6d412c1e6"}}}
